prefer-no-csd

// Global Window Aesthetics
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// Terminal Specifics (Alacritty / Foot)
window-rule {
    match app-id="^Alacritty$"
    default-column-display "tabbed"
    default-column-width { proportion 0.5; }
    tiled-state true
    draw-border-with-background false
}

// Efficiency: Web Browsers / Dev Tools
window-rule {
    match app-id="firefox"
    match app-id="chromium"
    default-column-display "tabbed"
    default-column-width { proportion 0.66667; }
}

// Practical Utility: Auto-float UI elements
// Ensure popups DON'T get grouped into your tabs
window-rule {
    match title="^Picture-in-Picture$"
    match app-id="nm-connection-editor"
    match app-id="pavucontrol"
    match app-id="com.saivert.pwvucontrol"

    open-floating true
}

// Jetbrains applications
window-rule {
    match app-id=r"jetbrains-.+"

    open-maximized true
    open-focused true

    default-column-display "tabbed"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id=r"jetbrains-.+"

    match title="Updates"
    match title="Restart"
    match title="Welcome to"
    match title="Settings"
    match title="License"

    open-maximized false
    default-column-width { }
}

window-rule {
    match app-id="jetbrains-goland"
    match app-id="jetbrains-pycharm"
    match app-id="jetbrains-rustrover"
    match app-id="jetbrains-idea"

    open-on-workspace "backend"
}

window-rule {
    match app-id="jetbrains-webstorm"

    open-on-workspace "frontend"
}

window-rule {
    match title="SystemUpdate"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 800; }

    // Centering on .outputName screen
    open-on-output {{ .outputName | quote }}
}
