// Use the exact name reported by niri msg outputs
workspace "browser" {
    open-on-output "Dell Inc. DELL P2421D 174VR63"
}
workspace "chat" {
    open-on-output "Dell Inc. DELL P2421D 174VR63"
}
workspace "backend" {
    open-on-output "Dell Inc. DELL P2421D 174VR63"
}
workspace "frontend" {
    open-on-output "Dell Inc. DELL P2421D 174VR63"
}
