// Use the exact name reported by niri msg outputs
workspace "browser" {
    open-on-output {{ .outputName | quote }}
}
workspace "backend" {
    open-on-output {{ .outputName | quote }}
}
workspace "frontend" {
    open-on-output {{ .outputName }}
}
